
  /**
   * Colors
   * -------------------------------------------------------------------------- */
  
   .container {
      margin: 0 auto;
      max-width: 1152px;
    }
    
    :root {
      --vp-c-brand: #4182c7;
      --vp-c-brand-light: #59a5f6;
      --vp-c-brand-lighter: #a0ccfa;
      --vp-c-brand-lightest: #ddedff;
      --vp-c-brand-dark: #488cd4;
      --vp-c-brand-darker: #206fc3;
      --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
    
      --vp-nav-height-mobile: 56px;
      --vp-nav-height-desktop: 65px;
      --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3496fe 30%, #41d1ff);
    } 
    
    /**
     * Component: Home
     * -------------------------------------------------------------------------- */
    
    :root {
      --vp-home-hero-name-color: transparent;
      --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
          #3496fe 30%,
          #41d1ff);
    
      --vp-home-hero-image-filter: blur(40px);
    }